@{
    ViewBag.Title = "Statistics";
}

@model Docary.ViewModels.Desktop.HomeStatisticsViewModel

@section Menu {
    @{ Html.RenderPartial("_MenuLoggedOn"); }
}

<h2>Statistics</h2>

@if (Model.HasFirstEntry)
{
    <p>First entry: @Model.FirstEntry</p>
}

@if (Model.HasLatestEntry)
{
    <p>Last entry: @Model.LatestEntry</p>
}