@{
    ViewBag.Title = "Welcome";
}

@section Menu {
    <ul>        
        <li>@Html.ActionLink("Logon", "LogOn", "Account")</li>                    
        <li>@Html.ActionLink("Register", "Register", "Account")</li>                
        <li>@Html.ActionLink("Mobile view", "Welcome", "Home", new { Area = "Mobile" }, new { })</li>        
    </ul>
}

<div class="welcome-text">
    <h2>What is a Docary?</h2>
    <p>
        Basically it's a very straight-forward personal time-tracking application. It does not really aim towards a certain audience or 
        niche. You can use it for whatever you want, there is no way this application tries to focus on the clients you visited, 
        the time you spent studying or the time you spent on certain tasks.
    </p>    
    <h2>What can I do with it?</h2>
    <p>
        For now, the feature list is very small and focused.
        <ul>
            <li>Use your phone, mobile device or desktop to enter your activities (description, tag, location)</li>
            <li>Get a nice timeline which you can use to review your week and study trends</li>
            <li>Get some general statistics on your time usage</li>
        </ul>
        <br />
        However, this is just an alpha release. I do plan on implementing ways to get more out of your data, I like to believe 
        this data can help you learn about and improve how you spend your time. I also plan on implementing ways to get the raw data,
         so you can manipulate, study or Excel Pivot it however you like.
    </p>
    <h2>Why did you build this?</h2>
    <p>
       I used to use Google Calendar to track my time usage, but that approach didn't really work out for me. Google Calendar 
       focuses on the scheduling part, which isn't what I'm looking for, I want to register my time usage the moment I'm doing it.
        This does mean it requires some determination to get in the habit of submitting your activities.  Also, maybe the biggest 
        problem with Google Calender is that there is no easy way to get your data out.
    </p>   
    <h2>Can I see an example?</h2>
    <p>
        Sure, here is snapshot of my timeline.
    </p>
</div>
<table>
    <tr>
        <td class="header-base timeline-header">1/18/2012</td>
        <td>
                <div style="width:303px;background-color:#68A0B0" class="timelineblock" title="Sleep (12:00 AM-6:36 AM): Bed"></div>
                <div style="width:14px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (6:36 AM-6:55 AM): Getting dressed"></div>
                <div style="width:75px;background-color:#3A7178" class="timelineblock" title="Commuting (6:55 AM-8:33 AM): Geel to Brussels"></div>
                <div style="width:142px;background-color:#DBC742" class="timelineblock" title="Work (8:33 AM-11:39 AM): Euricom"></div>
                <div style="width:73px;background-color:#C1DE33" class="timelineblock" title="Food (11:39 AM-1:15 PM): Subway"></div>
                <div style="width:193px;background-color:#DBC742" class="timelineblock" title="Work (1:15 PM-5:27 PM): Euricom"></div>
                <div style="width:83px;background-color:#3A7178" class="timelineblock" title="Commuting (5:27 PM-7:16 PM): Brussels to geel"></div>
                <div style="width:22px;background-color:#C1DE33" class="timelineblock" title="Food (7:16 PM-7:46 PM): Dinner"></div>
                <div style="width:26px;background-color:#A3A087" class="timelineblock" title="Househunt (7:46 PM-8:20 PM): Mails"></div>
                <div style="width:33px;background-color:#C1DE33" class="timelineblock" title="Sport (8:20 PM-9:03 PM): p90x"></div>
                <div style="width:23px;background-color:#A3A087" class="timelineblock" title="Househunt (9:03 PM-9:34 PM): Administration"></div>
                <div style="width:18px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (9:34 PM-9:58 PM): Shower"></div>
                <div style="width:33px;background-color:#68A0B0" class="timelineblock" title="Tv (9:58 PM-10:41 PM): Dexter"></div>
                <div style="width:60px;background-color:#68A0B0" class="timelineblock" title="Sleep (10:41 PM-12:00 AM): Bed"></div>
        </td>
    </tr>
    <tr>
        <td class="header-base timeline-header">1/19/2012</td>
        <td>
                <div style="width:303px;background-color:#68A0B0" class="timelineblock" title="Sleep (12:00 AM-6:36 AM): Bed"></div>
                <div style="width:9px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (6:36 AM-6:47 AM): Getting dressed"></div>
                <div style="width:87px;background-color:#3A7178" class="timelineblock" title="Commuting (6:47 AM-8:41 AM): Geel to Brussels "></div>
                <div style="width:132px;background-color:#DBC742" class="timelineblock" title="Work (8:41 AM-11:34 AM): Euricom"></div>
                <div style="width:31px;background-color:#C1DE33" class="timelineblock" title="Food (11:34 AM-12:14 PM): Lunch"></div>
                <div style="width:219px;background-color:#DBC742" class="timelineblock" title="Work (12:14 PM-5:02 PM): Euricom"></div>
                <div style="width:67px;background-color:#626E29" class="timelineblock" title="Friends (5:02 PM-6:29 PM): Drinks"></div>
                <div style="width:73px;background-color:#3A7178" class="timelineblock" title="Commuting (6:29 PM-8:04 PM): Brussels to geel"></div>
                <div style="width:22px;background-color:#C1DE33" class="timelineblock" title="Food (8:05 PM-8:33 PM): Dinner"></div>
                <div style="width:26px;background-color:#CAE0E3" class="timelineblock" title="Blog (8:33 PM-9:06 PM): Canvas"></div>
                <div style="width:24px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (9:06 PM-9:38 PM): Shower"></div>
                <div style="width:57px;background-color:#68A0B0" class="timelineblock" title="Tv (9:38 PM-10:52 PM): Dexter"></div>
                <div style="width:52px;background-color:#68A0B0" class="timelineblock" title="Sleep (10:52 PM-12:00 AM): Bed"></div>
        </td>
    </tr>
    <tr>
        <td class="header-base timeline-header">1/20/2012</td>
        <td>
                <div style="width:305px;background-color:#68A0B0" class="timelineblock" title="Sleep (12:00 AM-6:39 AM): Bed"></div>
                <div style="width:7px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (6:39 AM-6:48 AM): Getting dressed"></div>
                <div style="width:98px;background-color:#3A7178" class="timelineblock" title="Commuting (6:48 AM-8:56 AM): Geel to brussel "></div>
                <div style="width:121px;background-color:#DBC742" class="timelineblock" title="Work (8:56 AM-11:35 AM): Euricom"></div>
                <div style="width:21px;background-color:#C1DE33" class="timelineblock" title="Food (11:35 AM-12:03 PM): Lunch"></div>
                <div style="width:251px;background-color:#DBC742" class="timelineblock" title="Work (12:03 PM-5:31 PM): Euricom"></div>
                <div style="width:109px;background-color:#3A7178" class="timelineblock" title="Commuting (5:31 PM-7:53 PM): Brussels to geel"></div>
                <div style="width:54px;background-color:#C1DE33" class="timelineblock" title="Food (7:53 PM-9:03 PM): Dinner"></div>
                <div style="width:28px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (9:03 PM-9:40 PM): Shower"></div>
                <div style="width:14px;background-color:#4E5E24" class="timelineblock" title="Random (9:40 PM-9:58 PM): Surfing"></div>
                <div style="width:21px;background-color:#4E5E24" class="timelineblock" title="Gaming (9:58 PM-10:26 PM): Batman"></div>
                <div style="width:24px;background-color:#CAE0E3" class="timelineblock" title="Blog (10:26 PM-10:58 PM): TODO research"></div>
                <div style="width:27px;background-color:#68A0B0" class="timelineblock" title="Tv (10:58 PM-11:33 PM): Big Bang"></div>
                <div style="width:20px;background-color:#68A0B0" class="timelineblock" title="Sleep (11:33 PM-12:00 AM): Bed"></div>
        </td>
    </tr>
    <tr>
        <td class="header-base timeline-header">1/21/2012</td>
        <td>
                <div style="width:442px;background-color:#68A0B0" class="timelineblock" title="Sleep (12:00 AM-9:39 AM): Bed"></div>
                <div style="width:8px;background-color:#C1DE33" class="timelineblock" title="Food (9:39 AM-9:49 AM): Breakfast"></div>
                <div style="width:134px;background-color:#A3A087" class="timelineblock" title="Househunt (9:49 AM-12:44 PM): Bank"></div>
                <div style="width:27px;background-color:#C1DE33" class="timelineblock" title="Food (12:44 PM-1:20 PM): Lunch"></div>
                <div style="width:215px;background-color:#A3A087" class="timelineblock" title="Househunt (1:20 PM-6:02 PM): Ikea"></div>
                <div style="width:40px;background-color:#C1DE33" class="timelineblock" title="Food (6:02 PM-6:54 PM): Dinner"></div>
                <div style="width:67px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (6:54 PM-8:22 PM): Shower"></div>
                <div style="width:41px;background-color:#E3E0CA" class="timelineblock" title="On The Road (8:22 PM-9:16 PM): Geel to paal"></div>
                <div style="width:67px;background-color:#626E29" class="timelineblock" title="Friends (9:16 PM-10:44 PM): Drinks"></div>
                <div style="width:58px;background-color:#68A0B0" class="timelineblock" title="Tv (10:44 PM-12:00 AM): The girl with the dragon tattoo"></div>
        </td>
    </tr>
    <tr>
        <td class="header-base timeline-header">1/22/2012</td>
        <td>
                <div style="width:68px;background-color:#68A0B0" class="timelineblock" title="Tv (12:00 AM-1:29 AM): The girl with the dragon tattoo"></div>
                <div style="width:24px;background-color:#E3E0CA" class="timelineblock" title="On The Road (1:29 AM-2:01 AM): Hasselt to paal"></div>
                <div style="width:492px;background-color:#68A0B0" class="timelineblock" title="Sleep (2:01 AM-12:45 PM): Bed"></div>
                <div style="width:4px;background-color:#C1DE33" class="timelineblock" title="Food (12:45 PM-12:50 PM): Lunch"></div>
                <div style="width:47px;background-color:#C1DE33" class="timelineblock" title="Food (12:50 PM-1:52 PM): Lunch"></div>
                <div style="width:12px;background-color:#626E29" class="timelineblock" title="Family (1:52 PM-2:07 PM): Chill"></div>
                <div style="width:24px;background-color:#E3E0CA" class="timelineblock" title="On The Road (2:07 PM-2:39 PM): Paal to geel"></div>
                <div style="width:18px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (2:39 PM-3:03 PM): Shower"></div>
                <div style="width:9px;background-color:#CAE0E3" class="timelineblock" title="Blog (3:03 PM-3:14 PM): Research"></div>
                <div style="width:8px;background-color:#4E5E24" class="timelineblock" title="Random (3:14 PM-3:24 PM): Administration"></div>
                <div style="width:5px;background-color:#CAE0E3" class="timelineblock" title="Blog (3:24 PM-3:32 PM): Research"></div>
                <div style="width:29px;background-color:#A3A087" class="timelineblock" title="Househunt (3:32 PM-4:09 PM): Calculations"></div>
                <div style="width:17px;background-color:#CAE0E3" class="timelineblock" title="Blog (4:09 PM-4:31 PM): Research"></div>
                <div style="width:58px;background-color:#626E29" class="timelineblock" title="Family (4:31 PM-5:48 PM): Grandparents"></div>
                <div style="width:14px;background-color:#CAE0E3" class="timelineblock" title="Blog (5:48 PM-6:06 PM): Research"></div>
                <div style="width:43px;background-color:#C1DE33" class="timelineblock" title="Sideprojects (6:06 PM-7:02 PM): Docary"></div>
                <div style="width:17px;background-color:#C1DE33" class="timelineblock" title="Food (7:02 PM-7:24 PM): Dinner"></div>
                <div style="width:62px;background-color:#C1DE33" class="timelineblock" title="Sideprojects (7:24 PM-8:46 PM): Docary"></div>
                <div style="width:19px;background-color:#3A7178" class="timelineblock" title="Guitar (8:46 PM-9:11 PM): Guitar bible"></div>
                <div style="width:22px;background-color:#4E5E24" class="timelineblock" title="Gaming (9:11 PM-9:41 PM): Batman"></div>
                <div style="width:59px;background-color:#68A0B0" class="timelineblock" title="Tv (9:41 PM-10:58 PM): Dexter"></div>
                <div style="width:47px;background-color:#68A0B0" class="timelineblock" title="Sleep (10:58 PM-12:00 AM): Bed"></div>
        </td>
    </tr>
    <tr>
        <td class="header-base timeline-header">1/23/2012</td>
        <td>
                <div style="width:306px;background-color:#68A0B0" class="timelineblock" title="Sleep (12:00 AM-6:40 AM): Bed"></div>
                <div style="width:9px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (6:40 AM-6:51 AM): Getting dressed"></div>
                <div style="width:78px;background-color:#3A7178" class="timelineblock" title="Commuting (6:51 AM-8:34 AM): Brussels"></div>
                <div style="width:144px;background-color:#DBC742" class="timelineblock" title="Work (8:34 AM-11:42 AM): Euricom"></div>
                <div style="width:22px;background-color:#C1DE33" class="timelineblock" title="Food (11:42 AM-12:10 PM): Lunch"></div>
                <div style="width:245px;background-color:#DBC742" class="timelineblock" title="Work (12:10 PM-5:31 PM): Euricom"></div>
                <div style="width:79px;background-color:#3A7178" class="timelineblock" title="Commuting (5:31 PM-7:14 PM): Brussels to geel"></div>
                <div style="width:29px;background-color:#C1DE33" class="timelineblock" title="Food (7:14 PM-7:53 PM): Dinner"></div>
                <div style="width:15px;background-color:#4E5E24" class="timelineblock" title="Random (7:53 PM-8:13 PM): Surfen"></div>
                <div style="width:37px;background-color:#C1DE33" class="timelineblock" title="Sport (8:13 PM-9:01 PM): P90x"></div>
                <div style="width:13px;background-color:#C1DE33" class="timelineblock" title="Sideprojects (9:01 PM-9:18 PM): Docary"></div>
                <div style="width:8px;background-color:#4E5E24" class="timelineblock" title="Random (9:18 PM-9:29 PM): Chatten"></div>
                <div style="width:15px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (9:29 PM-9:49 PM): Shower"></div>
                <div style="width:46px;background-color:#68A0B0" class="timelineblock" title="Tv (9:49 PM-10:50 PM): Dexter"></div>
                <div style="width:53px;background-color:#68A0B0" class="timelineblock" title="Sleep (10:50 PM-12:00 AM): Bed"></div>
        </td>
    </tr>
    <tr>
        <td class="header-base timeline-header">1/24/2012</td>
        <td>
                <div style="width:303px;background-color:#68A0B0" class="timelineblock" title="Sleep (12:00 AM-6:36 AM): Bed"></div>
                <div style="width:8px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (6:36 AM-6:47 AM): Getting dressed"></div>
                <div style="width:83px;background-color:#3A7178" class="timelineblock" title="Commuting (6:47 AM-8:36 AM): Brussels"></div>
                <div style="width:140px;background-color:#DBC742" class="timelineblock" title="Work (8:36 AM-11:38 AM): Euricom"></div>
                <div style="width:25px;background-color:#C1DE33" class="timelineblock" title="Food (11:38 AM-12:11 PM): Lunch"></div>
                <div style="width:242px;background-color:#DBC742" class="timelineblock" title="Work (12:11 PM-5:28 PM): Euricom"></div>
                <div style="width:76px;background-color:#3A7178" class="timelineblock" title="Commuting (5:28 PM-7:07 PM): Brussels to geel"></div>
                <div style="width:26px;background-color:#C1DE33" class="timelineblock" title="Food (7:07 PM-7:41 PM): Dinner"></div>
                <div style="width:27px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (7:41 PM-8:16 PM): Shower"></div>
                <div style="width:43px;background-color:#626E29" class="timelineblock" title="Friends (8:16 PM-9:13 PM): Fred"></div>
                <div style="width:24px;background-color:#3A7178" class="timelineblock" title="Guitar (9:13 PM-9:44 PM): Blues"></div>
                <div style="width:25px;background-color:#68A0B0" class="timelineblock" title="Tv (9:44 PM-10:16 PM): Boardwalk Empire"></div>
                <div style="width:9px;background-color:#3A7178" class="timelineblock" title="Guitar (10:16 PM-10:28 PM): Jam"></div>
                <div style="width:16px;background-color:#4E5E24" class="timelineblock" title="Random (10:28 PM-10:48 PM): CD grandmother"></div>
                <div style="width:54px;background-color:#68A0B0" class="timelineblock" title="Sleep (10:48 PM-12:00 AM): Bed"></div>
        </td>
    </tr>
    <tr>
        <td class="header-base timeline-header">1/25/2012</td>
        <td>
                <div style="width:305px;background-color:#68A0B0" class="timelineblock" title="Sleep (12:00 AM-6:39 AM): Bed"></div>
                <div style="width:8px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (6:39 AM-6:49 AM): Getting dressed"></div>
                <div style="width:77px;background-color:#3A7178" class="timelineblock" title="Commuting (6:49 AM-8:31 AM): Geel to Brussels"></div>
                <div style="width:140px;background-color:#DBC742" class="timelineblock" title="Work (8:31 AM-11:33 AM): Euricom"></div>
                <div style="width:33px;background-color:#C1DE33" class="timelineblock" title="Food (11:33 AM-12:16 PM): Subway"></div>
                <div style="width:240px;background-color:#DBC742" class="timelineblock" title="Work (12:16 PM-5:30 PM): Euricom"></div>
                <div style="width:79px;background-color:#3A7178" class="timelineblock" title="Commuting (5:30 PM-7:13 PM): Geel"></div>
                <div style="width:24px;background-color:#C1DE33" class="timelineblock" title="Food (7:13 PM-7:44 PM): Dinner"></div>
                <div style="width:23px;background-color:#3A7178" class="timelineblock" title="Guitar (7:44 PM-8:14 PM): Shine on you crazy diamond"></div>
                <div style="width:38px;background-color:#C1DE33" class="timelineblock" title="Sport (8:14 PM-9:03 PM): Running"></div>
                <div style="width:25px;background-color:#4E5E24" class="timelineblock" title="Random (9:03 PM-9:36 PM): Surfen"></div>
                <div style="width:19px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (9:36 PM-10:01 PM): Shower"></div>
                <div style="width:18px;background-color:#68A0B0" class="timelineblock" title="Tv (10:01 PM-10:24 PM): Boardwalk Empire"></div>
                <div style="width:18px;background-color:#4E5E24" class="timelineblock" title="Random (10:24 PM-10:49 PM): Surfen"></div>
                <div style="width:54px;background-color:#68A0B0" class="timelineblock" title="Sleep (10:49 PM-12:00 AM): Bed"></div>
        </td>
    </tr>
    <tr>
        <td class="header-base timeline-header">1/26/2012</td>
        <td>
                <div style="width:303px;background-color:#68A0B0" class="timelineblock" title="Sleep (12:00 AM-6:37 AM): Bed"></div>
                <div style="width:9px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (6:37 AM-6:49 AM): Getting dressed"></div>
                <div style="width:84px;background-color:#3A7178" class="timelineblock" title="Commuting (6:49 AM-8:39 AM): Brussels"></div>
                <div style="width:1px;background-color:#DBC742" class="timelineblock" title="Work (8:39 AM-8:40 AM): Euricom"></div>
                <div style="width:136px;background-color:#DBC742" class="timelineblock" title="Work (8:40 AM-11:38 AM): Euricom"></div>
                <div style="width:30px;background-color:#626E29" class="timelineblock" title="Shopping (11:38 AM-12:16 PM): Mediamarkt"></div>
                <div style="width:172px;background-color:#C1DE33" class="timelineblock" title="Food (12:16 PM-4:02 PM): Lunch"></div>
                <div style="width:52px;background-color:#DBC742" class="timelineblock" title="Work (4:02 PM-5:10 PM): Euricom"></div>
                <div style="width:32px;background-color:#C1DE33" class="timelineblock" title="Food (5:10 PM-5:52 PM): Christophe food"></div>
                <div style="width:66px;background-color:#3A7178" class="timelineblock" title="Commuting (5:52 PM-7:19 PM): Puurs"></div>
                <div style="width:173px;background-color:#C1DE33" class="timelineblock" title="Sport (7:19 PM-11:06 PM): Karting"></div>
                <div style="width:41px;background-color:#3A7178" class="timelineblock" title="Commuting (11:06 PM-12:00 AM): Puurs to geel"></div>
        </td>
    </tr>
    <tr>
        <td class="header-base timeline-header">1/27/2012</td>
        <td>
                <div style="width:55px;background-color:#3A7178" class="timelineblock" title="Commuting (12:00 AM-1:12 AM): Puurs to geel"></div>
                <div style="width:11px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (1:12 AM-1:26 AM): Shower"></div>
                <div style="width:238px;background-color:#68A0B0" class="timelineblock" title="Sleep (1:26 AM-6:38 AM): Bed"></div>
                <div style="width:8px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (6:38 AM-6:49 AM): Getting dressed"></div>
                <div style="width:82px;background-color:#3A7178" class="timelineblock" title="Commuting (6:49 AM-8:37 AM): Geel to Brussels"></div>
                <div style="width:132px;background-color:#DBC742" class="timelineblock" title="Work (8:37 AM-11:30 AM): Euricom"></div>
                <div style="width:22px;background-color:#C1DE33" class="timelineblock" title="Food (11:30 AM-12:00 PM): Kebab"></div>
                <div style="width:250px;background-color:#DBC742" class="timelineblock" title="Work (12:00 PM-5:27 PM): Euricom"></div>
                <div style="width:85px;background-color:#3A7178" class="timelineblock" title="Commuting (5:27 PM-7:18 PM): Geel"></div>
                <div style="width:33px;background-color:#C1DE33" class="timelineblock" title="Food (7:18 PM-8:01 PM): Dinner"></div>
                <div style="width:27px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (8:01 PM-8:36 PM): Shower"></div>
                <div style="width:60px;background-color:#CAE0E3" class="timelineblock" title="Blog (8:36 PM-9:54 PM): Research"></div>
                <div style="width:30px;background-color:#4E5E24" class="timelineblock" title="Gaming (9:54 PM-10:34 PM): Batman"></div>
                <div style="width:34px;background-color:#3A7178" class="timelineblock" title="Guitar (10:34 PM-11:19 PM): PF"></div>
                <div style="width:31px;background-color:#68A0B0" class="timelineblock" title="Tv (11:19 PM-12:00 AM): Boardwalk Empire"></div>
        </td>
    </tr>
    <tr>
        <td class="header-base timeline-header">1/28/2012</td>
        <td>
                <div style="width:29px;background-color:#68A0B0" class="timelineblock" title="Tv (12:00 AM-12:37 AM): Boardwalk Empire"></div>
                <div style="width:17px;background-color:#3A7178" class="timelineblock" title="Guitar (12:37 AM-1:00 AM): Blues"></div>
                <div style="width:488px;background-color:#68A0B0" class="timelineblock" title="Sleep (1:00 AM-11:39 AM): Bed"></div>
                <div style="width:18px;background-color:#C1DE33" class="timelineblock" title="Food (11:39 AM-12:02 PM): Breakfast"></div>
                <div style="width:18px;background-color:#4E5E24" class="timelineblock" title="Random (12:02 PM-12:26 PM): Reading"></div>
                <div style="width:79px;background-color:#52C2D1" class="timelineblock" title="Hairdresser (12:26 PM-2:10 PM): Kreatos"></div>
                <div style="width:15px;background-color:#C1DE33" class="timelineblock" title="Food (2:10 PM-2:30 PM): Lunch"></div>
                <div style="width:12px;background-color:#3A7178" class="timelineblock" title="Guitar (2:30 PM-2:46 PM): Guitar"></div>
                <div style="width:54px;background-color:#C1DE33" class="timelineblock" title="Sport (2:46 PM-3:57 PM): Running"></div>
                <div style="width:16px;background-color:#CAE0E3" class="timelineblock" title="Blog (3:57 PM-4:18 PM): Correcting"></div>
                <div style="width:29px;background-color:#A3A087" class="timelineblock" title="Cleaning (4:18 PM-4:56 PM): Car interior"></div>
                <div style="width:16px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (4:56 PM-5:16 PM): Shower"></div>
                <div style="width:24px;background-color:#CAE0E3" class="timelineblock" title="Blog (5:16 PM-5:48 PM): Testing DI bootstrappers"></div>
                <div style="width:22px;background-color:#C1DE33" class="timelineblock" title="Food (5:48 PM-6:17 PM): Dinner"></div>
                <div style="width:20px;background-color:#4E5E24" class="timelineblock" title="Gaming (6:17 PM-6:43 PM): Batman"></div>
                <div style="width:18px;background-color:#E3E0CA" class="timelineblock" title="On The Road (6:43 PM-7:06 PM): Dits"></div>
                <div style="width:137px;background-color:#626E29" class="timelineblock" title="Family (7:06 PM-10:06 PM): Nils bachelorparty"></div>
                <div style="width:22px;background-color:#E3E0CA" class="timelineblock" title="On The Road (10:06 PM-10:34 PM): Geel"></div>
                <div style="width:45px;background-color:#CAE0E3" class="timelineblock" title="Blog (10:34 PM-11:32 PM): Research"></div>
                <div style="width:21px;background-color:#C1DE33" class="timelineblock" title="Sideprojects (11:33 PM-12:00 AM): Docary"></div>
        </td>
    </tr>
    <tr>
        <td class="header-base timeline-header">1/29/2012</td>
        <td>
                <div style="width:49px;background-color:#C1DE33" class="timelineblock" title="Sideprojects (12:00 AM-1:04 AM): Docary"></div>
                <div style="width:43px;background-color:#68A0B0" class="timelineblock" title="Tv (1:04 AM-2:00 AM): Boardwalk Empire"></div>
                <div style="width:478px;background-color:#68A0B0" class="timelineblock" title="Sleep (2:00 AM-12:26 PM): Bed"></div>
                <div style="width:12px;background-color:#C1DE33" class="timelineblock" title="Food (12:26 PM-12:43 PM): Breakfast"></div>
                <div style="width:23px;background-color:#4E5E24" class="timelineblock" title="Random (12:43 PM-1:13 PM): Reading"></div>
                <div style="width:51px;background-color:#CAE0E3" class="timelineblock" title="Blog (1:13 PM-2:20 PM): Research"></div>
                <div style="width:40px;background-color:#C1DE33" class="timelineblock" title="Sport (2:20 PM-3:12 PM): P90x"></div>
                <div style="width:18px;background-color:#4E5E24" class="timelineblock" title="Random (3:12 PM-3:35 PM): Reddit"></div>
                <div style="width:24px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (3:35 PM-4:06 PM): Shower"></div>
                <div style="width:80px;background-color:#CAE0E3" class="timelineblock" title="Blog (4:06 PM-5:51 PM): Book review"></div>
                <div style="width:17px;background-color:#C1DE33" class="timelineblock" title="Food (5:51 PM-6:13 PM): Dinner"></div>
                <div style="width:62px;background-color:#CAE0E3" class="timelineblock" title="Blog (6:13 PM-7:34 PM): AVL"></div>
                <div style="width:29px;background-color:#E3E0CA" class="timelineblock" title="On The Road (7:34 PM-8:13 PM): Geel to Paal"></div>
                <div style="width:76px;background-color:#626E29" class="timelineblock" title="Family (8:13 PM-9:52 PM): Kristien"></div>
                <div style="width:80px;background-color:#68A0B0" class="timelineblock" title="Tv (9:52 PM-11:37 PM): Goodfellas"></div>
                <div style="width:1px;background-color:#68A0B0" class="timelineblock" title="Sleep (11:37 PM-11:38 PM): Bed"></div>
                <div style="width:16px;background-color:#68A0B0" class="timelineblock" title="Sleep (11:38 PM-12:00 AM): Bed"></div>
        </td>
    </tr>
    <tr>
        <td class="header-base timeline-header">1/30/2012</td>
        <td>
                <div style="width:500px;background-color:#68A0B0" class="timelineblock" title="Sleep (12:00 AM-10:54 AM): Bed"></div>
                <div style="width:7px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (10:54 AM-11:04 AM): Getting dressed"></div>
                <div style="width:14px;background-color:#C1DE33" class="timelineblock" title="Food (11:04 AM-11:22 AM): Breakfast"></div>
                <div style="width:40px;background-color:#C1DE33" class="timelineblock" title="Sport (11:22 AM-12:14 PM): Running"></div>
                <div style="width:17px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (12:15 PM-12:36 PM): Shower"></div>
                <div style="width:30px;background-color:#C1DE33" class="timelineblock" title="Food (12:37 PM-1:15 PM): Lunch"></div>
                <div style="width:73px;background-color:#626E29" class="timelineblock" title="Shopping (1:15 PM-2:51 PM): Stoeltje"></div>
                <div style="width:29px;background-color:#E3E0CA" class="timelineblock" title="On The Road (2:51 PM-3:30 PM): Geel"></div>
                <div style="width:26px;background-color:#4E5E24" class="timelineblock" title="Random (3:30 PM-4:03 PM): Reading"></div>
                <div style="width:104px;background-color:#CAE0E3" class="timelineblock" title="Blog (4:03 PM-6:20 PM): Blog"></div>
                <div style="width:18px;background-color:#626E29" class="timelineblock" title="Family (6:20 PM-6:42 PM): Nils bachelor"></div>
                <div style="width:29px;background-color:#3A7178" class="timelineblock" title="Guitar (6:43 PM-7:20 PM): Fade to black"></div>
                <div style="width:34px;background-color:#4E5E24" class="timelineblock" title="Gaming (7:20 PM-8:05 PM): Batman"></div>
                <div style="width:29px;background-color:#C1DE33" class="timelineblock" title="Food (8:05 PM-8:43 PM): Dinner"></div>
                <div style="width:27px;background-color:#4E5E24" class="timelineblock" title="Docary (8:43 PM-9:19 PM): Batman"></div>
                <div style="width:36px;background-color:#CAE0E3" class="timelineblock" title="Blog (9:19 PM-10:06 PM): Nhibernate"></div>
                <div style="width:50px;background-color:#68A0B0" class="timelineblock" title="Tv (10:06 PM-11:11 PM): Boardwalk empire"></div>
                <div style="width:37px;background-color:#68A0B0" class="timelineblock" title="Sleep (11:12 PM-12:00 AM): Bed"></div>
        </td>
    </tr>
    <tr>
        <td class="header-base timeline-header">1/31/2012</td>
        <td>
                <div style="width:302px;background-color:#68A0B0" class="timelineblock" title="Sleep (12:00 AM-6:35 AM): Bed"></div>
                <div style="width:8px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (6:35 AM-6:46 AM): Getting dressed"></div>
                <div style="width:81px;background-color:#3A7178" class="timelineblock" title="Commuting (6:46 AM-8:32 AM): Geel to Brussels"></div>
                <div style="width:142px;background-color:#DBC742" class="timelineblock" title="Work (8:32 AM-11:37 AM): Euricom"></div>
                <div style="width:19px;background-color:#C1DE33" class="timelineblock" title="Food (11:37 AM-12:03 PM): Lunch"></div>
                <div style="width:250px;background-color:#DBC742" class="timelineblock" title="Work (12:03 PM-5:30 PM): Euricom"></div>
                <div style="width:77px;background-color:#3A7178" class="timelineblock" title="Commuting (5:30 PM-7:12 PM): Geel"></div>
                <div style="width:25px;background-color:#626E29" class="timelineblock" title="Lunch (7:12 PM-7:44 PM): Dinner"></div>
                <div style="width:29px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (7:44 PM-8:22 PM): Shower"></div>
                <div style="width:23px;background-color:#A3A087" class="timelineblock" title="Househunt (8:22 PM-8:52 PM): Loan"></div>
                <div style="width:10px;background-color:#C1DE33" class="timelineblock" title="Sideprojects (8:52 PM-9:04 PM): Docary"></div>
                <div style="width:30px;background-color:#4E5E24" class="timelineblock" title="Gaming (9:04 PM-9:44 PM): Batman"></div>
                <div style="width:54px;background-color:#68A0B0" class="timelineblock" title="Tv (9:44 PM-10:54 PM): Boardwalk empire"></div>
                <div style="width:50px;background-color:#68A0B0" class="timelineblock" title="Sleep (10:54 PM-12:00 AM): Bed"></div>
        </td>
    </tr>
    <tr>
        <td class="header-base timeline-header">2/1/2012</td>
        <td>
                <div style="width:303px;background-color:#68A0B0" class="timelineblock" title="Sleep (12:00 AM-6:36 AM): Bed"></div>
                <div style="width:8px;background-color:#52C2D1" class="timelineblock" title="Hygiene  (6:36 AM-6:46 AM): Getting dressed"></div>
                <div style="width:80px;background-color:#3A7178" class="timelineblock" title="Commuting (6:46 AM-8:30 AM): Geel to Brussels"></div>
                <div style="width:143px;background-color:#DBC742" class="timelineblock" title="Work (8:30 AM-11:38 AM): Euricom"></div>
                <div style="width:27px;background-color:#C1DE33" class="timelineblock" title="Food (11:38 AM-12:13 PM): Subway"></div>
                <div style="width:240px;background-color:#DBC742" class="timelineblock" title="Work (12:13 PM-5:26 PM): Euricom"></div>
                <div style="width:300px;background-color:#3A7178" class="timelineblock" title="Commuting (5:26 PM-12:00 AM): Brussels to Geel"></div>
        </td>
    </tr>    
</table>

<div class="legenda-container">       
    <div class="legenda-tag" style="background-color:#68A0B0">&nbsp;</div><span>Tv</span>
    <div class="legenda-tag" style="background-color:#52C2D1">&nbsp;</div><span>Hygiene </span>
    <div class="legenda-tag" style="background-color:#3A7178">&nbsp;</div><span>Commuting</span>
    <div class="legenda-tag" style="background-color:#DBC742">&nbsp;</div><span>Work</span>
    <div class="legenda-tag" style="background-color:#C1DE33">&nbsp;</div><span>Food</span>
    <div class="legenda-tag" style="background-color:#A3A087">&nbsp;</div><span>Househunt</span>
    <div class="legenda-tag" style="background-color:#C1DE33">&nbsp;</div><span>Sport</span>
    <div class="legenda-tag" style="background-color:#68A0B0">&nbsp;</div><span>Sleep</span>
    <div class="legenda-tag" style="background-color:#626E29">&nbsp;</div><span>Friends</span>
    <div class="legenda-tag" style="background-color:#CAE0E3">&nbsp;</div><span>Blog</span>
    <div class="legenda-tag" style="background-color:#4E5E24">&nbsp;</div><span>Random</span>
    <div class="legenda-tag" style="background-color:#4E5E24">&nbsp;</div><span>Gaming</span>
    <div class="legenda-tag" style="background-color:#E3E0CA">&nbsp;</div><span>On The Road</span>
    <div class="legenda-tag" style="background-color:#626E29">&nbsp;</div><span>Family</span>
    <div class="legenda-tag" style="background-color:#C1DE33">&nbsp;</div><span>Sideprojects</span>
    <div class="legenda-tag" style="background-color:#3A7178">&nbsp;</div><span>Guitar</span>
    <div class="legenda-tag" style="background-color:#626E29">&nbsp;</div><span>Shopping</span>
    <div class="legenda-tag" style="background-color:#52C2D1">&nbsp;</div><span>Hairdresser</span>
    <div class="legenda-tag" style="background-color:#A3A087">&nbsp;</div><span>Cleaning</span>       
</div>      

<br />

<table>    
	<tr>
		<td class="header-base statistics-line-header">Sleep</td>
		<td class="timelineblock" width="1092px">
			<div style="background-color:#68A0B0" title="(5 day(s), 0 hour(s), 17 minute(s))">35.21%</div>
		</td>
	</tr>  
	<tr>
		<td class="header-base statistics-line-header">Work</td>
		<td class="timelineblock" width="628px">
			<div style="background-color:#DBC742" title="(2 day(s), 21 hour(s), 10 minute(s))">20.25%</div>
		</td>
	</tr>  
	<tr>
		<td class="header-base statistics-line-header">Commuting</td>
		<td class="timelineblock" width="311px">
			<div style="background-color:#3A7178" title="(1 day(s), 10 hour(s), 13 minute(s))">10.02%</div>
		</td>
	</tr>  
	<tr>
		<td class="header-base statistics-line-header">Food</td>
		<td class="timelineblock" width="190px">
			<div style="background-color:#C1DE33" title="(0 day(s), 20 hour(s), 55 minute(s))">6.13%</div>
		</td>
	</tr>  
	<tr>
		<td class="header-base statistics-line-header">Tv</td>
		<td class="timelineblock" width="185px">
			<div style="background-color:#68A0B0" title="(0 day(s), 20 hour(s), 23 minute(s))">5.97%</div>
		</td>
	</tr>  
	<tr>
		<td class="header-base statistics-line-header">Blog</td>
		<td class="timelineblock" width="113px">
			<div style="background-color:#CAE0E3" title="(0 day(s), 12 hour(s), 29 minute(s))">3.66%</div>
		</td>
	</tr>  
	<tr>
		<td class="header-base statistics-line-header">Househunt</td>
		<td class="timelineblock" width="89px">
			<div style="background-color:#A3A087" title="(0 day(s), 9 hour(s), 49 minute(s))">2.88%</div>
		</td>
	</tr>  
	<tr>
		<td class="header-base statistics-line-header">Hygiene </td>
		<td class="timelineblock" width="85px">
			<div style="background-color:#52C2D1" title="(0 day(s), 9 hour(s), 22 minute(s))">2.74%</div>
		</td>
	</tr>  
	<tr>
		<td class="header-base statistics-line-header">Sport</td>
		<td class="timelineblock" width="82px">
			<div style="background-color:#C1DE33" title="(0 day(s), 9 hour(s), 2 minute(s))">2.65%</div>
		</td>
	</tr>  
	<tr>
		<td class="header-base statistics-line-header">Family</td>
		<td class="timelineblock" width="60px">
			<div style="background-color:#626E29" title="(0 day(s), 6 hour(s), 34 minute(s))">1.92%</div>
		</td>
	</tr>  
	<tr>
		<td class="header-base statistics-line-header">Sideprojects</td>
		<td class="timelineblock" width="39px">
			<div style="background-color:#C1DE33" title="(0 day(s), 4 hour(s), 19 minute(s))">1.27%</div>
		</td>
	</tr>  
	<tr>
		<td class="header-base statistics-line-header">Random</td>
		<td class="timelineblock" width="37px">
			<div style="background-color:#4E5E24" title="(0 day(s), 4 hour(s), 42 minute(s))">1.38%</div>
		</td>
	</tr>  
	<tr>
		<td class="header-base statistics-line-header">On The Road</td>
		<td class="timelineblock" width="37px">
			<div style="background-color:#E3E0CA" title="(0 day(s), 4 hour(s), 36 minute(s))">1.36%</div>
		</td>
	</tr>  
	<tr>
		<td class="header-base statistics-line-header">Friends</td>
		<td class="timelineblock" width="35px">
			<div style="background-color:#626E29" title="(0 day(s), 3 hour(s), 51 minute(s))">1.13%</div>
		</td>
	</tr>  
	<tr>
		<td class="header-base statistics-line-header">Guitar</td>
		<td class="timelineblock" width="33px">
			<div style="background-color:#3A7178" title="(0 day(s), 3 hour(s), 39 minute(s))">1.07%</div>
		</td>
	</tr>  
	<tr>
		<td class="header-base statistics-line-header">Gaming</td>
		<td class="timelineblock" width="31px">
			<div style="background-color:#4E5E24" title="(0 day(s), 3 hour(s), 26 minute(s))">1.01%</div>
		</td>
	</tr>  
	<tr>
		<td class="header-base statistics-line-header">Shopping</td>
		<td class="timelineblock" width="20px">
			<div style="background-color:#626E29" title="(0 day(s), 2 hour(s), 14 minute(s))">0.66%</div>
		</td>
	</tr>  
	<tr>
		<td class="header-base statistics-line-header">Hairdresser</td>
		<td class="timelineblock" width="16px">
			<div style="background-color:#52C2D1" title="(0 day(s), 1 hour(s), 43 minute(s))">0.51%</div>
		</td>
	</tr>  
	<tr>
		<td class="header-base statistics-line-header">Cleaning</td>
		<td class="timelineblock" width="6px">
			<div style="background-color:#A3A087" title="(0 day(s), 0 hour(s), 37 minute(s))">0.18%</div>
		</td>
	</tr>    
</table>      
<div class="welcome-text">
    <br />
    <h2>What do you plan on doing with my data?</h2>
    <p>
        Nothing . I promise to not abuse your data. How much do I care about how often you walk your cat anyways?
    </p>
</div>
