@{
    ViewBag.Title = "Welcome";
}

<h2>What is a Docary?</h2>
<p>A Docary is something between a diary and documentation of your life. </p>    
<h2>What are some of the features?</h2>
<p>For now the feature list is very small and focused.
<ul>
    <li>Use your phone, mobile device or desktop to enter your activities.</li>
    <li>Get a nice timeline which you can use to review your week and study trends</li>
    <li>Get some general statistics on your time usage</li>
</ul>
</p>
<h2>Why did you build this?</h2>
<p>I think it's important to use your time well, and how can you know you're on the right track, if you're not measuring?</p>
<h2>Is my data safe?</h2>
<p>I promise I have no intentions to use or sell your data.</p>
<h2>What is a Docary?</h2>
<p>A Docary is something between a diary and documentation of your life. </p>    
<h2>What are some of the features?</h2>
<p>For now the feature list is very small and focused.
<ul>
    <li>Use your phone, mobile device or desktop to enter your activities.</li>
    <li>Get a nice timeline which you can use to review your week and study trends</li>
    <li>Get some general statistics on your time usage</li>
</ul>
</p>
<h2>Why did you build this?</h2>
<p>I think it's important to use your time well, and how can you know you're on the right track, if you're not measuring?</p>
<h2>Is my data safe?</h2>
<p>I promise I have no intentions to use or sell your data.</p>