@{
    ViewBag.Title = "Welcome";
}

<div>
    <ul>        
        <li>@Html.ActionLink("Logon", "LogOn", "Account")</li>                    
        <li>@Html.ActionLink("Register", "Register", "Account")</li>   
    </ul>
</div>
<div>
    <h3>What is a Docary?</h3>
    <p>A Docary is something between a diary and documentation of your life. The goal of this webapplication to measure the use of your 
        time to the extreme.</p>    
</div>
