<ul>        
    <li><a href="#">Timeline</a></li>  
    <li><a href="#">Statistics</a></li>  
    <li><a href="#">Add entry</a></li>  
    <li><a href="#">Change password</a></li>  
    <li><a href="#">Log off</a></li>  
</ul>
