<ul>        
    <li>@Html.ActionLink("Timeline", "Index", "Home")</li>  
    <li><a href="#">Statistics</a></li>  
    <li>@Html.ActionLink("Add entry", "Add", "Entry")</li>  
    <li>@Html.ActionLink("Change password", "ChangePassword", "Account")</li>  
    <li>@Html.ActionLink("Log off", "LogOff", "Account")</li>  
</ul>
