@{
    ViewBag.Title = "NewUser";
}

<div id="menucontainer">
    <ul id="menu" data-role="listview" data-theme="g">        
        <li>@Html.ActionLink("Logon", "LogOn", "Account")</li>                    
        <li>@Html.ActionLink("Register", "Register", "Account")</li>   
    </ul>
</div>
