@{
    ViewBag.Title = "Add";
}

@model Docary.ViewModels.AddEntryViewModel

<h2>Add</h2>
@using (Html.BeginForm("Add", "Entry"))
{                       
    <div class="editor-label">
        Activity 
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Entry.Activity.Name)                            
    </div>        
    <div class="editor-label">
        Location 
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Entry.Location.Name)    
    </div>        
    <div class="editor-label">
        Meta
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.Entry.Meta)    
    </div>
    <p>
        <input type="submit" value="Add" />
    </p>        
}
