* {
	margin: 0;
	font-family: "lucida grande", arial, sans-serif; 
}

html, body {
	height: 100%;
	background-color: #B3B3B3;        	
	font-size: 14px;	
}

.wrapper {   
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
	position: relative;
	width: 1240px;	
	text-align: left;	
	background-color: #B3B3B3;	
}

.content {
    padding-top: 15px;
    padding-left: 10px;  
    padding-bottom: 30px;
    padding-right: 10px;
    color: #000;      
}

.push {
    background-color: #B3B3B3;
    height: 100px; /* .push must be the same height as .footer */	
}

.header {
	height: 50px;	
	padding-top: 15px;
	padding-bottom: 40px;	
	background-color: #B3B3B3;	
}

.menu {
    background-color: #B3B3B3;  
    font-weight:  bold;
    border-bottom: 1px solid;    
}

.menu ul {
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu li {    
    background-color: #000;    
    color: #FFFFFF;    
    display: inline;    
    font-size: 18px;
    list-style-type: none;
    width: 100px;
    padding-right: 20px;
    padding-left: 10px; 
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 2px;    
}

.menu li a {
    color: #FFFFFF;
    text-decoration: none;     
}

.menu li a:hover {
    color: #eee9e9;        
}

h1 {    
    font-size: 65px;	
    font-weight: bold;
}

h2 {
	padding: 0 0 0.6em;
	color: #000;
}

p {
	padding: 0 0 1em;
}

ul {
    padding-left: 20px;
    list-style-type:  circle;
}

strong {
	font-weight: normal;
}

.footer {
    position: relative;
    margin: 0 auto;
    background-color: #000;
    width: 100%;        
    height: 100px; 
}

.footer-info {
    padding-top: 10px;
    color: #ffffff;
    margin: auto;    
    width: 1240px; /* Same width as wrapper */
}

.footer-info div.title {
    font-weight:bold;    
    padding-bottom: 10px;
}

.footer-info ul {
    list-style-type: none;    
    display: inline;
}

.footer-info a {    
    color: #eee9e9;         
    text-decoration: none; 
}

.footer-info a:hover {    
    color: #0099FF;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;    
    padding-bottom: 10px;
}

.validation-summary-valid {
    display: none;
}

/* Timeline
-----------------------------------------------------------*/

.header-base {
    font-weight: bold;
    color: #000;    
    text-align: right;
    float:left;    
    display:inline;  
    padding-right: 7px;
    margin-right: 2px;
    word-wrap: break-word;
}

.timeline-header {  
    width: 90px;  
}

.statistics-line-header {    
   width: 100px;
}

.timelineblock {   
    float:left;
    display:inline;
    height: 15px;    
}

.form-container {
    padding: 10px;
    background-color: #1F1F1F;
    color: #FFF;
    border: 2px solid #000;    
}

.form-actions {
    padding-top: 10px;
}

.form-container input[type="text"] {
    width: 200px;
}

.form-container input[type="password"] {
    width: 200px;
}

.form-container textarea {
    width: 500px;
}

.form-input {
    padding-bottom: 3px;
}