* {
	margin: 0;
}

html, body {
	height: 100%;
	background-color: #EDE6AD;    
    font-family: "lucida grande", arial, sans-serif;  
}

.wrapper 
{   
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
	position: relative;
	width: 1240px;
	font-size: 0.9em;	
	text-align: left;	
	background-color: #FCFCED;
}

.content 
{
    padding-top: 30px;
    padding-left: 10px;  
    padding-bottom: 30px;
    padding-right: 10px;
    color: #000;   
}

.footer, .push {
	height: 60px; /* .push must be the same height as .footer */	
}

.push 
{
    background-color: #FCFCED;
}

.header {
	height: 50px;	
	padding-top: 15px;
	padding-bottom: 40px;	
	background-color: #EDE6AD;
}

.menu 
{
    background-color: #EDE6AD;  
    font-weight:  bold;
}

.menu ul 
{
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu li
{    
    background-color: #000;    
    color: #FFFFFF;    
    display: inline;    
    font-size: 18px;
    list-style-type: none;
    width: 100px;
    padding-right: 20px;
    padding-left: 10px; 
    padding-bottom: 5px;
    padding-top: 5px;
    margin-right: 2px;    
}

.menu li a
{
    color: #FFFFFF;
    text-decoration: none;     
}

.menu li a:hover
{
    color: #eee9e9;        
}

h1 
{    
    font-size: 65px;	
    font-weight: bold;
}

h2 {
	padding: 0 0 0.6em;
	color: #000;
}

p {
	padding: 0 0 1em;	
	font: 1em/1.4em arial,sans-serif;
	
}

ul 
{
    padding-left: 20px;
    list-style-type:  circle;
}

strong {
	font-weight: normal;
}

.footer {   
	position: relative;	
	margin: 0 auto;	
	background-color: #000;
	width: 100%;
}

.footer a {
	color: #fff;
	text-decoration: underline;
	border: 0;	
}

.footer p {
	position: absolute;
	left: 0;
	bottom: 4px;	
	padding: 0;	
	font: 0.8em arial,sans-serif;
	text-align: center;	
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;    
    padding-bottom: 10px;
}

.validation-summary-valid {
    display: none;
}

/* Timeline
-----------------------------------------------------------*/

.timeline {
   width: 1200px;     
   
}

.timeline-header {
    background-color: #595747;
    color: #FFF;    
    text-align: right;
    float:left;
    width: 80px;
    display:inline;  
    padding-right: 7px;
    margin-right: 2px;  
}

.timelineblock {   
    float:left;
    display:inline;
    height: 15px;    
}

.form-container {
    padding: 10px; 
    background-color: #595747;
    color: #FFF;
}

.form-actions {
    padding-top: 10px;
}

.form-container input[type="text"] {
    width: 200px;
}

.form-container input[type="password"] {
    width: 200px;
}

.form-container textarea {
    width: 500px;
}

.form-input {
    padding-bottom: 3px;
}

