@{
    ViewBag.Title = "Entries";    
}

@model Docary.ViewModels.Mobile.HomeIndexViewModel

<div id="entries">
    <div id="menucontainer">
        <ul data-role="listview" data-theme="g">                
            <li>@Html.ActionLink(
                    "Add new entry", 
                    "Add", 
                    "Entry")</li>            
        </ul> 
    </div>
    <br />
    <h3>Latest entries</h3>
        
    @if (Model.HasEntries)
    {   
        Html.RenderPartial("_List");   
    }
    else
    {
        <p>Can't find any entries!</p>
    }    
</div> 

@section Footer {
    @{ Html.RenderPartial("_FooterLoggedOn"); }
}