@{
    ViewBag.Title = "Entries";    
}

@model Docary.ViewModels.Mobile.HomeIndexViewModel

<div id="entries">
    @Html.ActionLink("Add new entry", "Add", "Entry")

    @if (Model.HasEntries)
    {   
        Html.RenderPartial("_List");   
    }
    else
    {
        <p>No entries the last 7 days.</p>
    }    
</div> 