@{
    ViewBag.Title = "Welcome";
}

<div id="menucontainer">
    <ul id="menu" data-role="listview" data-theme="g">        
        <li>@Html.ActionLink("Logon", "LogOn", "Account")</li>                    
        <li>@Html.ActionLink("Register", "Register", "Account")</li>   
    </ul>
</div>
<div id="infocontainer">
    <h3>What is a Docary?</h3>
    <p>y. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets contain</p>
    <h3>Why is it only for mobile?</h3>
    <p>y. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets contain</p>
</div>