@{
    ViewBag.Title = "Welcome";
}

<div id="menucontainer">
    <ul id="menu" data-role="listview" data-theme="g">        
        <li>@Html.ActionLink("Logon", "LogOn", "Account")</li>                    
        <li>@Html.ActionLink("Register", "Register", "Account")</li>   
    </ul>
</div>
<div id="infocontainer">
    <h2>What is a Docary?</h2>
    <p>
        Basically it's a very straight-forward personal time-tracking application. It does not really aim towards a certain audience or 
        niche. You can use it for whatever you want, this application doesn't try to focus on the clients you visited, 
        the time you spent studying or the time you spent on certain tasks.
    </p>    
    <h2>What can I do with it?</h2>
    <p>
        For now, the feature list is very small and focused.
        <ul>
            <li>Use your phone, mobile device or desktop to enter your activities (description, tag, location)</li>
            <li>Get a nice timeline which you can use to review your week and study trends</li>
            <li>Get some general statistics on your time usage</li>
        </ul>
        <br />
        However, this is just an alpha release. I do plan on implementing ways to get more out of your data. I like to believe 
        this data can help you learn about and improve how you spend your time. I also plan on implementing ways to get the raw data,
         so you can manipulate, study or Excel Pivot it however you like.
    </p>
    <h2>Why did you build this?</h2>
    <p>
       I used to use Google Calendar to track my time usage, but that approach didn't really work out for me. Google Calendar 
       focuses on the scheduling part, which isn't what I'm looking for, I want to register my time usage the moment I'm doing it.
        This does mean it requires some determination to get in the habit of submitting your activities.  Also, maybe the biggest 
        problem with Google Calender is that there is no easy way to get your data out.
    </p>     
    <h2>What do you plan on doing with my data?</h2>
    <p>
        Nothing. I promise to not abuse your data. How much do I care about how often you walk your cat anyways?
    </p>
</div>

@section Footer {
    <div data-role="footer">            
        @Html.ActionLink("Desktop view", "Welcome", "Home", new { Area = "Desktop" }, null)            
    </div>
}